<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/base-admin::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<br>
<h1 align="center">View Job Details</h1>
<div class="container">
<table style="width: 100%" class="table mt-4">
  <thead class="thead-dark">
    <tr>
    <!--   <th scope="col">Job Id</th> -->
      <th scope="col">Company</th>
      <th scope="col">Job Role</th>
      <th scope="col">Job Description</th>
      <th scope="col">Job Location</th>
      <th scope="col">Job Package</th>
      <th scope="col">Job PostDate</th>
      <th scope="col">Job ExpiryDate</th>
      <th scope="col">  Action  </th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="jobdetails:${jdObj}">
    <!-- 	<td th:text="${jobdetails.jobId}"></td> -->
    	<td th:text="${jobdetails.companydetails.companyName}"></td>
    	<td th:text="${jobdetails.jobRole}"></td>
    	<td th:text="${jobdetails.jobDescription}"></td>
    	<td th:text="${jobdetails.jobLocation}"></td>
    	<td th:text="${jobdetails.jobPackage}"></td>
    	<td th:text="${jobdetails.jobPostdate}"></td>
    	<td th:text="${jobdetails.jobExpirydate}"></td>
    	<td>
        <button class="btn btn-primary"><a href="#" style="color: white;">Update</a></button>
        <button class="btn btn-danger btn-sm"><a href="#" style="color: white;">Delete</a></button> 
   	    </td>
    </tr>	

  </tbody>
</table>
				<!-- Pagination Part -->

<nav aria-label="Page navigation example">
  <ul class="pagination" >
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>



</div>
</section>
</body>
</html>