<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="student/base-student::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Upload Student Resume</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">

<title>Hello, world!</title>
<link rel="stylesheet" href="/css/style1.css">

</head>
<body>

	<section>
		<div class="container">
			<div class="col-md-6 offset-3 text-center">
				<div class="mycard1 mt-5">

					<div class="container text-center mt-5">
						<img style="width: 80px;" alt="" th:src="@{/image/file.png}">
					</div>


					<h3 style="text-align: center;">Upload Student Resume</h3>


					<form class="mt-5" th:action="@{/UploadResume{studentId}(studentId=${session.student.studentId})}" method="post"  enctype="multipart/form-data">
						<div th:if="${session.message1}"
							th:classappend="${session.message1.messageType}" class="alert"
							role="alert">
							<p th:text="${session.message1.content}"></p>
							<th:block th:text="${#session.removeAttribute('message1')}"></th:block>
						</div>
						<!-- <input type="file" name="studentUploadResume" multiple> -->
						<div class="form-group">

							<input type="file" class="form-control"
								name="studentUploadResume">

						</div>
						
						<div class="mt-3">
				     <input type="submit" class="btn btn-primary" value="Upload">
					
					<!-- 	<button class="btn btn-info"><a th:href="@{/UploadStudentResume}{studentId}(studentId=${studentdetails.studentId})}" style="color: white;">Search</a></button>
	 -->
				</div>
						
						
						</form>
				</div>
				
				
			</div>
		</div>
		</div>

	</section>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->

</body>
</html>