<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="student/base-student::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>View Profile</title>
</head>
<body>
<section>
<div class="container text-center mt-3">

<img alt="profile photo" th:src="@{'/image/'+${session.student.studentPhoto}}" style="height:200px; width: 200px;" class="my_profile_picture" />

<h1 class="text-center  mt-3"  th:text="${session.student.studentName}" ></h1>

<table class="table text-center">
<thead>

<tr>
<th scope="row">Email Address</th>
<td><span th:text="${session.student.studentEmail}"></span></td>
</tr>

<tr>
<th scope="row">Contact Number</th>
<td><span th:text="${session.student.studentContact}"></span></td>
</tr>

<tr>
<th scope="row">Education Branch</th>
<td><span th:text="${session.student.studentEducationBranch}"></span></td>
</tr>
<tr>
<th scope="row">Degree</th>
<td><span th:text="${session.student.studentDegree}"></span></td>
</tr>

<tr>
<th scope="row">Address</th>
<td><span th:text="${session.student.studentAddress}"></span></td>
</tr>

<tr>
<th scope="row">Birthdate</th>
<td><span th:text="${session.student.studentBirthdate}"></span></td>
</tr>


</table>
</div>
</section>
</body>
</html>